#chat {
    width: 315px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.messages {
    height: 300px;
    margin: 20px 0 20px 0;
    padding: 10px;
    overflow-y: scroll;
}

button {
    padding: 20px;
    height: 60px;
}

.message {
    height: 25px;
    margin-bottom: 10px;
}

.user {
    display: block;
}

.self {
    float: left;
}

.other {
    float: right;
}