
#root {
    min-height: 519px;
}

#chat {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.wrapper-container {
    min-width: 360px;
}

.messages {
    height: 300px;
    margin: 20px 0 20px 0;
    padding: 10px;
    overflow-y: scroll;
}

button {
    padding: 20px;
    height: 60px;
}

.mike {
    height: 33px;
    width: 33px;
    cursor: pointer;
}

.message {
    height: 25px;
    margin-bottom: 10px;
}

.chats {
    margin: 10px;
}

.user {
    display: block;
}

.user::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.self {
    text-align: left;
    background: #deffce;
    border-bottom: 2px solid white;
}

.other {
    text-align: right;
    background: #ffb8b8;
    border-bottom: 2px solid white;
}

.audio {
    height: 20px;
    width: 40%;
    margin-top: 5px;
}

.mine {
    float: left;
    margin-right: 100px;
}

.not-mine {
    float: right;
    margin-left: 100px;
}

.connect {
    display: block;
    height: 20px;
    background: #ff000030;
    border: 1px solid;
    padding: 10px;
}

.online::after {
    content: 'online';
    font-size: 10px;
    color: orange;
    margin-left: 5px;
}

.offline::after {
    content: 'offline';
    color: black;
    font-size: 10px;
    margin-left: 5px;
}