#chat {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.messages {
    height: 300px;
    margin: 20px 0 20px 0;
    padding: 10px;
    overflow-y: scroll;
}

.button::after {
    content: "\1F3A4";
}

button {
    padding: 20px;
    height: 60px;
}

.message {
    height: 25px;
    margin-bottom: 10px;
}

.user {
    display: block;
}

.self {
    text-align: left;
    background: #deffce;
    border-bottom: 2px solid white;
}

.other {
    text-align: right;
    background: #ffb8b8;
    border-bottom: 2px solid white;
}

.connect {
    display: block;
    height: 20px;
    background: #ff000030;
    border: 1px solid;
    padding: 10px;
}

.online::after {
    content: 'online';
    font-size: 10px;
    color: orange;
    margin-left: 5px;
}

.offline::after {
    content: 'offline';
    color: black;
    font-size: 10px;
    margin-left: 5px;
}