#root {
    margin: 0 auto;
    width: 200px;
    padding: 10px;
}
#register {
    border: 2px solid;
    padding: 20px;
}
form>input {
    width: 103%;
}

.buttons {
    margin-top: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}